*{
    margin: 0;
    padding: 0;
}


form{
    padding-left: 600px;
    margin-top: 25%;
    
}

button{
    margin-top: 50px;
    margin-left: 50px;
}

input{
    width: 50px;
    height: 20px;
    background-color: aquamarine;
    border-color: azure;
}


select{
    width: 50px;
    height: 25px;
    background-color: gray;
    font-size: 15px;
}

